<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./public/css/destyle.css">
    <link rel="stylesheet" href="./public/css/header.css">
    <link rel="stylesheet" href="./public/css/free_top.css">
</head>
<body>
    <?php Util\view('header.html'); ?>
    <main>
        <ul>
            <li><a href="./free/newProject">新規作成<img src="./public/img/add.png"></a></li>
            <?php foreach ($project_list as $one_project): ?>
            <li>
                <a href="edit_project?for=<?= $one_project ?>"><?= $one_project ?></a>
            </li>
            <?php endforeach; ?>
        </ul>
    </main>
</body>
</html>