@import "./color.scss";


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

header {
    text-align: right;
    background-color: $main_color;
    padding: 1% 1.5%;
    height: 7%;

    // ネットからの拾い物    https://saruwakakun.com/html-css/reference/buttons
    .btn-square-shadow {

        display: inline-block;
        padding: 0.5em 1em;
        text-decoration: none;
        background: #668ad8;
        /*ボタン色*/
        color: #FFF;
        border-bottom: solid 4px #627295;
        border-radius: 3px;
    }

    .btn-square-shadow:active {
        /*ボタンを押したとき*/
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
        /*下に動く*/
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
        /*影を小さく*/
        border-bottom: none;
    }
}

main {
    height: 100%;
    background-color: $content_color;

    h1 {
        display: none;
    }

    article {
        width: 100%;
        height: 100%;

        a {
            display: inline-block; // つぶれないように
            text-decoration: none; // 下線削除

            img {
                vertical-align: bottom; // 画像を下部に
                height: 3rem;
            }
        }
    }
}


footer {
    background-color: $content_color2;
    padding: 1%;
    color: $text_white_color;
}