@import "./color.scss";
@import "./header.scss";


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

main {
    height: 80%;
    background-color: $content_color;

    h1 {
        display: none;
    }

    article {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: space-evenly;
        div {
            width: 20%;
            height: 60%;
            text-align: center;
            margin-top: 50px;
            
            border: solid 1px gray;

            img {
                margin-top: 40px;
                vertical-align: bottom; // 画像を下部に
                height: 30%;
                
                padding: 1em;
                border-radius: 100%;
                background-color: rgb(162, 162, 162);
            }

            a {
                width: 100%;
                height: 100%;
                display: inline-block; // つぶれないように
                text-decoration: none; // 下線削除
            }
            p {
                margin-top: 1em;
                font-size: 2em;
            }
        }
        #learn {
            background-color: rgb(198, 236, 234);
        }
        #free {
            background-color: rgb(198, 236, 202);
        }
        #search {
            background-color: rgb(224, 236, 198);
        }
    }
}


footer {
    height: 100% - 80% - 10%;
    background-color: $content_color2;
    padding: 1%;
    color: $text_white_color;
}