* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

main h1 {
  margin-top: 1em;
  margin-left: 1em;
  font-size: large;
}
main #learn_text {
  width: 100%;
  padding: 25px;
}
main #learn_text h2 {
  font-size: large;
  margin-bottom: 10px;
}
main #learn_text a {
  color: rgb(82, 205, 253);
  border-bottom: 1px solid rgb(82, 205, 253);
}
main #user_edit {
  display: grid;
  grid-template: "folder play" auto "editor result" 1fr;
  position: relative;
  margin-top: 10px;
  height: 50vh;
  width: 100%;
}
main #user_edit #folders {
  border: solid 1px rgb(0, 0, 0);
  grid-area: folder;
  padding: 5px;
}
main #user_edit #folders .file {
  cursor: pointer;
  padding: 1px 5px;
}
main #user_edit #folders .file:hover {
  border-bottom: solid 1px gray;
  background-color: rgb(232, 232, 232);
}
main #user_edit #folders input[type=checkbox] {
  display: none;
}
main #user_edit #folders input[type=checkbox] ~ ul {
  display: none;
}
main #user_edit #folders input[type=checkbox]:checked ~ ul {
  display: block;
}
main #user_edit #folders input[type=checkbox] ~ label p {
  padding-left: 5px;
}
main #user_edit #folders input[type=checkbox] ~ label p::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/folder.png);
  background-size: contain;
  background-repeat: no-repeat;
}
main #user_edit #folders input[type=checkbox]:checked ~ label p::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/folder_open.png);
  background-size: contain;
  background-repeat: no-repeat;
}
main #user_edit #folders li {
  margin-left: 15px;
  list-style: none;
}
main #user_edit #play {
  grid-area: play;
  margin-right: 16px;
  min-height: 64px;
}
main #user_edit #play button {
  display: flex;
  align-items: start;
  justify-content: end;
  position: absolute;
  right: 10px;
  padding: 8px 16px;
  border: solid 1px black;
  border-radius: 16px;
}
main #user_edit #play button #play_file {
  margin-right: 10px;
  margin-top: 10px;
  vertical-align: middle;
  font-size: 18px;
}
main #user_edit #play button img {
  width: 40px;
}
main #user_edit #editor {
  grid-area: editor;
  position: relative;
  margin-top: 0px;
  width: 100%;
  height: 100%;
}
main #user_edit #editor #view_code {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: monospace;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 16px;
}
main #user_edit #editor #input_code {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0);
  caret-color: rgb(214, 187, 187);
  padding: 0.9em;
  font-family: monospace;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 16px;
  resize: none;
}
main #user_edit #editor #error {
  display: none;
  position: absolute;
  top: 32px;
  left: 95%;
  z-index: 0;
  cursor: pointer;
  width: 180px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.951);
  border: solid 1px rgb(115, 115, 115);
}
main #user_edit #result {
  grid-area: result;
  border: solid 1px black;
}
main #user_edit #result iframe {
  width: 100%;
  height: 100%;
}
main #success {
  display: none;
  position: fixed;
  top: 25%;
  left: 33.5%;
  width: 33%;
  background-color: #f2f2f2;
  border: solid 1px black;
  padding: 5px 15px;
}
main #success a {
  position: absolute;
  bottom: 0px;
  right: 0px;
  border: solid 1px rgb(75, 75, 75);
  border-radius: 30px;
  color: rgb(49, 49, 49);
  font-weight: bold;
  background-color: rgb(206, 206, 206);
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}/*# sourceMappingURL=learn.css.map */