@import "./color.scss";


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}


main {
    height: $main_size;
    background-color: $content_color;

    padding: 10px;
    ul {
        li {
            a{
                border-bottom: 1px solid black;
            }
        }
    }
}
