@charset "UTF-8";
header {
  text-align: right;
  background-color: rgb(122, 134, 184);
  padding: 1% 1.5%;
  height: 7%;
}
header .btn-square-shadow {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  /*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
header .btn-square-shadow:active {
  /*ボタンを押したとき*/
  transform: translateY(4px);
  /*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  /*影を小さく*/
  border-bottom: none;
}

* {
  padding: 0;
  margin: 0;
}

main #learn_text {
  width: 100%;
  border: solid 1px red;
  padding: 25px;
}
main #user_edit {
  display: grid;
  grid-template: "folder play" 1fr "editor result" 1fr;
  position: relative;
  margin-top: 10px;
  height: 50vh;
  width: 100%;
}
main #user_edit #folders {
  border: solid 1px rgb(0, 0, 0);
  grid-area: folder;
  padding: 5px;
}
main #user_edit #folders .file {
  cursor: pointer;
}
main #user_edit #folders input[type=checkbox] {
  display: none;
}
main #user_edit #folders input[type=checkbox] ~ ul {
  display: none;
}
main #user_edit #folders input[type=checkbox]:checked ~ ul {
  display: block;
}
main #user_edit #folders input[type=checkbox] ~ label p {
  padding-left: 5px;
}
main #user_edit #folders input[type=checkbox] ~ label p::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/folder.png);
  background-size: contain;
  background-repeat: no-repeat;
}
main #user_edit #folders input[type=checkbox]:checked ~ label p::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/folder_open.png);
  background-size: contain;
  background-repeat: no-repeat;
}
main #user_edit #folders li {
  margin-left: 15px;
  list-style: none;
}
main #user_edit #play {
  grid-area: play;
  text-align: end;
  margin-right: 16px;
}
main #user_edit #play img {
  width: 32px;
}
main #user_edit #editor {
  grid-area: editor;
  position: relative;
  margin-top: 0px;
  height: 70vh;
  width: 100%;
}
main #user_edit #editor #view_code {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: monospace;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 16px;
}
main #user_edit #editor #input_code {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 0, 0, 0);
  caret-color: rgb(214, 187, 187);
  padding: 0.9em;
  font-family: monospace;
  letter-spacing: normal;
  font-size: 16px;
  line-height: 16px;
  resize: none;
}
main #user_edit #editor #error {
  display: none;
  position: absolute;
  top: 32px;
  left: 95%;
  z-index: 0;
  cursor: pointer;
  width: 180px;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.951);
  border: solid 1px rgb(115, 115, 115);
}
main #user_edit #result {
  grid-area: result;
  border: solid 1px black;
}
main #user_edit #result iframe {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=learn.css.map */